@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&family=Manrope:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif", serif;
  --font-sans: "Manrope", sans-serif;
  
  --color-primary: #01261f;
  --color-primary-container: #1a3c34;
  --color-surface: #fbf9f1;
  --color-surface-low: #f5f4ec;
  --color-surface-container: #f0eee6;
  --color-surface-high: #eae8e0;
  --color-outline-variant: #c1c8c4;
  --color-secondary-container: #d7e6e0;
}

@layer base {
  body {
    @apply bg-surface text-primary font-sans selection:bg-primary-container selection:text-white;
  }
}

@layer components {
  .editorial-underline {
    @apply relative inline-block;
  }
  
  .editorial-underline::after {
    content: '';
    @apply absolute bottom-[-4px] left-1/2 w-0 h-[1px] bg-current transition-all duration-500 ease-in-out;
    transform: translateX(-50%);
  }
  
  .editorial-underline:hover::after {
    @apply w-full;
  }
}
